.top-selling h1{
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 55px;
    padding-top: 72px;
}

.top-selling .card-group{
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.top-selling .card-group .card-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.top-selling .card-group .card-body .review span{
    font-size: 20px;
}

.top-selling .card-group .card-body .review .text-muted{
    font-size: 14px;
    opacity: 60%;
}

.top-selling .card-group .card-body .pricing{
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-top: 8px;
}

.top-selling .card-group .card-body .pricing .price-old{
    opacity: 40%;
}

.top-selling .card-group .card-body .pricing .sale{
    font-size: 12px;
    color: #ff3333;
    background-color: rgba(225, 51, 51, 0.1);
    padding: 6px 15px;
    border-radius: 62px;
}

@media screen and (max-width: 991px) {
    .top-selling h1{
        font-size: 36px;
        padding-bottom: 40px;
        padding-top: 50px;
    }
    .top-selling .card-group .card-title{
        font-size: 18px;
    }
    .top-selling .card-group .card-body .review span{
        font-size: 18px;
    }
    .top-selling .card-group .card-body .review .text-muted{
        font-size: 12px;
    }
    .top-selling .card-group .card-body .pricing{
        font-size: 20px;
    }
    .top-selling .card-group .card-body .pricing .sale{
        font-size: 10px;
        padding: 4px 12px;
    }
}

@media screen and (max-width: 770px) {
    .top-selling h1{
        font-size: 28px;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    .top-selling .card-group .card-title{
        font-size: 16px;
    }
    .top-selling .card-group .card-body .review span{
        font-size: 16px;
    }
    .top-selling .card-group .card-body .review .text-muted{
        font-size: 10px;
    }
    .top-selling .card-group .card-body .pricing{
        font-size: 18px;
    }
    .top-selling .card-group .card-body .pricing .sale{
        font-size: 8px;
        padding: 3px 10px;
    }
    .top-selling .card-group{
        display: block;
    }
}